<div class="grid">
    <div>
        <p>Copyright {{ now.Year }}. All rights reserved.</p>
    </div>
    <div>
        <div style="float:right;">
            <ul class="social">
                <li>
                    <a href="https://c.im/@uknth" class="contrast">
                        <i class="fa-brands fa-mastodon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/uknth" class="contrast">
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/uknth" class="contrast">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/uknth/" class="contrast">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:mail@uknth.me" class="contrast">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>