<style>
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
  }
  header nav ul li {
    margin: 0.3em 0;
  }
  header nav ul li a {
    font-weight: bold;
  }
  .post-excerpt {
    margin-bottom: 2em;
  }
  .post-excerpt h2 {
    margin-bottom: 0.2em;
  }
  .post-excerpt .post-meta {
    font-size: 0.85em;
    color: #666;
    margin-bottom: 0.5em;
  }
  .post-excerpt .read-more {
    font-size: 0.9em;
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;
  }
</style>
