---
---

@import "{{ site.theme }}";

@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");


footer ul { list-style: none; height: 30px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 270px; }

footer li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 30px; }

footer li:first-child a { border-radius: 5px 0 0 5px; }

footer li:last-child a { border-radius: 0 5px 5px 0; }

footer ul a { line-height: 1; font-size: 15px; color: #676767; display: block; text-align: center; padding-top: 8px; height: 34px; }

footer ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

footer ul a:active { background-color: #f0f0f0; }

footer ul li + li + li { border-right: none; width: 89px; }

footer ul a strong { font-size: 14px; display: block; color: #222; }

.pages { text-align: left; padding:5px;}
footer ul.pages { background: none; height: auto; margin-top:100px; width: auto; border:none;}
footer li.pages { float: none; border-right:none; border-bottom:1px solid #e0e0e0; width: 250px; height: auto;}
footer li.pages:last-child { border-bottom: none; }
footer li.pages a.pages {font-size:15px; height: auto; }