---
---

@import "{{ site.theme }}";

@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

header ul a {
    font-size: 15px;
    padding-top: 8px;
}

header ul {
    height: 30px;
}

header li {
    height: 30px;
}

header p.view {
    display: none;
}

footer p {
    display:none;
}